/* 전체페이지공통 */
#wrap {
    width: 100%;
}
#header,
#subheader #visual,
#sub-visual,
#container,
#content,
#footer {
    width: 100%;
}
.inner {
}

/* 메인 헤더 */

#header {
    width: 100vw;
    height: 16.6667vw;
    position: relative;
    /* background: transparent; */
}

#header .inner {
    height: 16.6667vw;

    overflow: hidden;
    position: relative;
}
#header .inner h1 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    line-height: 16.6667vw;
}
#header .inner h1 img {
    position: fixed;
    top: 4.1667vw;
    /* transform: translateY(-50%); */
    left: 5.5556vw;
    z-index: 100;
}
#header h1 .all_menu {
    width: 100vw;
    overflow: hidden;
    height: 16.6667vw;
}

#header h1 .all_menu .icon {
    width: 6.9444vw;
    height: 6.9444vw;
    position: fixed;
    right: 5.5556vw;
    top: 4.1667vw;
    /* top: 50%;
    transform: translateY(-50%); */
    /* transform: translate(320px, 5px); */
    z-index: 100;
    cursor: pointer;
}

#header h1 .all_menu .menu {
    display: block;
    background: #303030;
    width: 6.9444vw;
    height: 1.3889vw;
    transition: 0.55s;
    margin-bottom: 1.3889px;
    position: absolute;
}
#header h1 .all_menu .icon .top {
    top: 0;
}
#header h1 .all_menu .icon .middle {
    top: 2.7778vw;
}
#header h1 .all_menu .icon .bottom {
    top: 5.5556vw;
}
#header h1 .all_menu .icon .top.on {
    top: 1.3889vw;
    transform: rotate(50deg);
    transition: 0.55s 0.5s;
}
#header h1 .all_menu .icon .middle.on {
    opacity: 0;
}
#header h1 .all_menu .icon .bottom.on {
    top: 1.3889vw;
    transform: rotate(-410deg);
    transition: 0.55s 0.5s;
}

/* 헤더 하위메뉴 */

#header .all_menu .sub_menu {
    width: 100%;
    height: 100%;
    background: #f1bb00;
    padding-top: 16.6667vw;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 100vw;
    transition: 1s;
}
#header .all_menu .sub_menu li {
    width: 100%;
    text-align: left;
    text-indent: 5.5556vw;
}
#header .all_menu .sub_menu li.login a {
    display: inline;
    font-size: 4.4444vw;
    font-weight: 400;
    margin-right: 2.7778vw;
}
#header .all_menu .sub_menu li.login a::after {
    content: '';
    height: 3.6111vw;
    width: 0.2778vw;
    background: #303030;
    display: inline-block;
    margin-left: 2.7778vw;
}
#header .all_menu .sub_menu li.login a:last-child {
    margin-right: 0;
}
#header .all_menu .sub_menu li.login a:last-child::after {
    display: none;
}
#header .all_menu .sub_menu li a {
    width: 100vw;
    display: block;
    font-size: 8.3333vw;
    font-weight: bold;
    /* padding-left: 20px; */
}
/* //.헤더 */

/* 푸터 */

#footer {
    background: #f1bb00;
    margin: auto;
    text-align: center;
}

#footer .inner {
    height: 88.8889vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#footer .footer_sns {
    display: flex;
    justify-content: center;
    width: 88.8889vw;
    border-bottom: 0.8333vw solid #303030;
    margin-top: 5.5556vw;
}
#footer .footer_sns li {
    margin-bottom: 5.5556vw;
}
#footer .footer_sns li a {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    display: block;
    width: 11.6667vw;
    height: 11.6667vw;
    margin-right: 2.7778vw;
}
#footer .footer_sns li:nth-child(1) a {
    background-image: url(../../images/common/kakao.png);
}
#footer .footer_sns li:nth-child(2) a {
    background-image: url(../../images/common/naver.png);
}
#footer .footer_sns li:nth-child(3) a {
    background-image: url(../../images/common/instagram.png);
}
#footer .footer_sns li:nth-child(4) a {
    background-image: url(../../images/common/naver\ blog.png);
    margin-right: 0px;
}

#footer .info p {
    font-size: 3.8889vw;
    line-height: 6.6667vw;
}
#footer .info p span::after {
    content: '';
    height: 2.7778vw;
    width: 0.2778vw;
    background: #303030;
    display: inline-block;
    margin: 0 1.3889vw;
}
#footer .info p span:last-child::after {
    display: none;
}
#footer .info p span.founded_number {
    margin-left: -1.3889vw;
}
/* //.푸터 */

/* 로그인 */

.login {
}
.login #content {
    width: 88.8889vw;
    margin: auto;
}
.login .login_logo {
    width: 100%;
    height: 45.8333vw;
}
.login .login_logo img {
    display: block;
    margin: 13.8889vw auto;
}

.login .typing {
    width: 88.8889vw;
}
.login .typing .text:focus {
    border-color: none;
    outline: none;
}
.login .typing input {
    width: 88.8889vw;
    border: none;
    height: 16.6667vw;
    border-bottom: 0.8333vw solid #303030;
}
.login .search {
    margin-top: 13.8889vw;
    font-size: 4.4444vw;
    font-weight: lighter;
    display: flex;
    justify-content: center;
}
.login .search li {
    margin-right: 2.7778vw;
}
.login .search li:first-child::after {
    content: '';
    height: 3.8889vw;
    width: 0.2778vw;
    background: #303030;
    opacity: 0.5;
    display: inline-block;
    margin-left: 2.7778vw;
    z-index: -1;
}
.login .click {
    margin: 8.3333vw 0;
    font-size: 4.4444vw;
    font-weight: bold;
}
.login .click li {
    margin: auto;
    width: 58.3333vw;
    border: 0.2778vw solid #303030;
    text-align: center;
    line-height: 13.8889vw;
}
.login .click li:first-child {
    margin-bottom: 4.1667vw;
}

.login .click li.on {
    background: #303030;
}
.login .click li.on a {
    color: #f1bb00;
}
/*  //.로그인 */
