img {
    max-width: 100%;
}

#wrap,
#header,
#visual,
#container,
#content,
#footer {
    width: 100%;
}

.inner {
    padding: 0 5.5556vw;
    margin: auto;
    box-sizing: border-box;
    position: relative;
}

/* main */

/* visual */
#visual {
}

#visual .visual_one {
    position: relative;
    color: #f1bb00;
    height: 100vh;
}

#visual .visual_two {
    position: relative;
    background: #303030;
    color: #fff;
    height: 100vh;
}
#visual .visual_three {
    position: relative;
    background: #f1bb00;
    color: #303030;
    height: 100vh;
}
#visual .main_text {
    text-align: center;
    font-size: 4.1667vw;
    margin-bottom: 11.9444vw;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    line-height: 6.9444vw; /* 166.667% */
    letter-spacing: -0.2083vw;
}

#visual .visual_one .main_text {
    margin-top: 11.9444vw;
}
#visual .visual_two .main_text {
    padding-top: 30.2778vw;
}
#visual .visual_three .main_text {
    padding-top: 28.3333vw;
}
#visual strong {
    text-align: center;
    font-family: 'Noto Sans KR';
    font-size: 22.2222vw;
    font-style: normal;
    font-weight: 900;
    line-height: 30.5556vw; /* 137.5% */
    letter-spacing: -0.4444vw;
    display: block;
}

#visual img {
    position: fixed;
    left: 50%;
    top: 68.0556vw;
    transform: translateX(-50%);
    z-index: 5;
}

#visual span {
    text-align: center;
    font-family: 'Noto Sans KR';
    font-size: 22.2222vw;
    font-style: normal;
    font-weight: 900;
    line-height: 30.5556vw; /* 137.5% */
    letter-spacing: -0.4444vw;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
}

#visual .visual_one span {
    top: 50%;
}
#visual .visual_two span {
    top: 59%;
}
#visual .visual_three span {
    top: 58%;
}
#visual .more_button {
    margin-top: 65vw;
    padding-bottom: 13.8889vw;
    display: flex;
    justify-content: center;
}
#visual .more_button a {
    display: block;
    width: 41.6667vw;
    height: 13.8889vw;
    font-size: 4.4444vw;
    text-align: center;
    line-height: 13.8889vw;
}

#visual .visual_one .more_button a {
    color: #f1bb00;
    border: 0.2778vw solid #f1bb00;
}
#visual .visual_two .more_button a {
    color: #fff;
    border: 0.2778vw solid #fff;
}
#visual .visual_three .more_button a {
    color: #303030;
    border: 0.2778vw solid #303030;
}

/* //visual */

/* section */

.main {
}
.main img {
    width: 100%;
    position: relative;
    z-index: 15;
}

.main .inner {
}
.main span {
    font-size: 8.3333vw;
    font-weight: bold;
    color: #303030;

    font-family: 'Noto Sans KR';

    font-style: normal;
    font-weight: 700;
    line-height: 11.1111vw; /* 133.333% */
    letter-spacing: -0.1667vw;
}
.main span > strong {
    color: #f1bb00;
}

.main span::after {
    content: '';
    width: 12.5vw;
    height: 0.8333vw;
    background: #303030;
    display: block;
    margin-top: 7.2222vw;
    margin-bottom: 12.2222vw;
}

.main p {
    font-size: 15px;
    color: #303030;
    margin-bottom: 25px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
    letter-spacing: -0.75px;
}
.main b {
    display: inline-block;
    font-family: 'Noto Sans KR';
    font-size: 4.1667vw;
    font-style: normal;
    font-weight: 700;
    line-height: 6.9444vw;
    letter-spacing: -0.2083vw;
    margin-bottom: 13.8889vw;
}
.main .main_links {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.main .main_links .all_menu {
    margin-bottom: 5.5556vw;
        background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    background-image: url(../../images/main/all_menu.png);
    width: 100%;
    height: 41.6667vw;
    position: relative;
}
.main .main_links .find_store {
    margin-bottom: 27.7778vw;
        background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    background-image: url(../../images/main/find_store.png);
    width: 100%;
    height: 41.6667vw;
    position: relative;
}

.main .main_links p {
    color: #fff;
    font-size: 6.9444vw;
    font-weight: 700;
    position: absolute;
    left: 3.6111vw;
    bottom: 3.6111vw;
    margin-bottom: 0;
}
.main .main_links img {
    width: 13.8889vw;
    height: 13.8889vw;
    position: absolute;
    right: 4.4444vw;
    bottom: 3.8889vw;
}

/* //section */

/* //main */

/* footer */

/* //footer */
